doctype html

html
  head
    title Hallo React Demo

    meta(charset='utf-8')
    meta(name="theme-color", content="#112358")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body

    #widget!= widgetSsrText

    script(src="assets/react/common.js")
    script(src="assets/react/component/widget.js")

    script.

      component.widget.render(!{JSON.stringify(meData)}, document.getElementById('widget'));
